.works {
  @include flexrow();
  padding: 90px 135px 90px 135px;
  &-content {
    font-family: $primaryFont;
    margin-left: 100px;
  }
  &-heading {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-desc {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 50px);
    &-item {
      display: flex;
      align-items: center;
      gap: 0 10px;
      & i {
        font-size: 10px;
        color: rgba(92, 171, 243, 1);
      }
    }
    & li {
      font-size: 16px;
      font-weight: 500;
      color: $descColor;
    }
  }
}
