@media (min-width: 320px) and (max-width: 419px) {
  header {
    padding: 13px;
  }
  #menu-slide {
    display: block;
    position: relative;
    cursor: pointer;
    /* margin-right: 20px; */
    /* z-index: 51px; */
  }
  .nav-link {
    margin: 0 auto;
    position: fixed;
    background-color: #ff7a01;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    box-shadow: rgba(149, 169, 165, 0.2) 0px 8px 24px;
    z-index: 50;
    align-items: stretch;
    font-weight: bold;
    display: none;
  }
  .content-container {
    height: auto;
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu-item {
    display: flex;
    justify-content: flex-end;
    gap: 0 30px;
    top: 30px;
    padding: 50px;
  }
  .menu-item i {
    display: block;
  }
  .contact {
    display: none;
  }
  .hero {
    padding: 0 10px 0 10px;
  }
  .content-heading {
    font-size: 48px;
  }
  .content-desc {
    font-size: 10px;
  }
  .content-image {
    display: none;
  }
  .button-primary {
    display: flex;
    justify-content: center;
  }
  .info-container {
    padding: 30px 60px;
    gap: 0 20px;
  }
  .info-number {
    font-size: 12px;
  }
  .info-text {
    font-size: 8px;
  }
  .about-container {
    padding: 100px 15px 0 15px;
  }
  .about-info {
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    padding: 30px 0 30px 0;
    height: 400px;
    width: 300px;
  }
  .about-box-top {
    right: -50px;
    display: none;
  }
  .about-box-bot {
    display: none;
    left: -40px;
  }
  .about-content {
    width: auto;
    /* padding: 0 15px 0 15px; */
    /* text-align: center; */
    margin-left: 10px;
  }
  .button-contact {
    width: 100%;
  }
  .moments-title {
    font-size: 42px;
    padding-top: 30px;
  }
  .moments-desc {
    font-size: 18px;
  }
  .all-moments {
    padding-bottom: 80px;
  }
  .grid {
    display: block;
  }
  .grid h3 {
    text-align: center;
    margin-left: 30px;
  }
  .moments-picture {
    padding: 0 15px 0 15px;
    overflow: scroll;
  }
  .picture-desc {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .project-header {
    flex-direction: column;
    padding: 20px;
  }
  .project-picture {
    flex-direction: column;
    padding: 15px;
    gap: 10px 0;
  }
  .project-picture img {
    width: 100%;
    /* min-width: 340px; */
  }
  .gallery-container {
    padding-top: 60px;
  }
  .gallery-heading {
    flex-direction: column;
    padding: 15px;
    gap: 15px 0;
  }
  .gallery-title {
    font-size: 52px;
    text-align: center;
  }
  .gallery-desc {
    text-align: center;
    font-size: 16px;
  }
  .gallery-picture {
    padding: 15px;
    grid-template-columns: none;
  }
  .gallery-picture img {
    width: 100%;
    /* min-width: 340px; */
    /* margin-bottom: 15px; */
  }
  /* .cta {
    height: 400px;
  } */
  /* .cta-desc {
    padding-bottom: 35px;
  } */
  .cta-container {
    text-align: center;
    padding: 15px;
  }
  .cta-heading {
    font-size: 38px;
  }
  .cta-desc {
    font-size: 12px;
  }
  /* .button-cta {
    margin: 0;
  } */
  .footer-container {
    flex-direction: column;
    /* display: block; */
    padding: 0;
    text-align: center;
  }
  .footer-menu {
    margin-left: 0px;
    gap: 0 50px;
  }
  .footer-logo {
    padding: 30px;
  }
  .footer-phone {
    padding: 30px;
  }
  .footer-btn {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 420px) and (max-width: 629px) {
  header {
    padding: 13px;
  }
  #menu-slide {
    display: block;
    position: relative;
    cursor: pointer;
    /* margin-right: 20px; */
    /* z-index: 51px; */
  }
  .nav-link {
    margin: 0 auto;
    position: fixed;
    background-color: #ff7a01;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    box-shadow: rgba(149, 169, 165, 0.2) 0px 8px 24px;
    z-index: 50;
    align-items: stretch;
    font-weight: bold;
    display: none;
  }
  .content-container {
    height: auto;
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu-item {
    display: flex;
    justify-content: flex-end;
    gap: 0 30px;
    top: 30px;
    padding: 50px;
  }
  .menu-item i {
    display: block;
  }
  .contact {
    display: none;
  }
  .hero {
    padding: 0 10px 0 10px;
  }
  .content-heading {
    font-size: 56px;
  }
  .content-desc {
    font-size: 10px;
  }
  .content-image {
    display: none;
  }
  .button-primary {
    display: flex;
    justify-content: center;
  }
  .info-container {
    padding: 30px 60px;
    gap: 0 30px;
  }
  .info-number {
    font-size: 18px;
  }
  .info-text {
    font-size: 8px;
  }
  .about-container {
    padding: 100px 15px 0 15px;
  }
  .about-info {
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    padding: 30px 0 30px 0;
    height: 400px;
    width: 300px;
  }
  .about-box-top {
    right: -50px;
    display: none;
  }
  .about-box-bot {
    display: none;
    left: -40px;
  }
  .about-content {
    width: auto;
    /* padding: 0 15px 0 15px; */
    /* text-align: center; */
    margin-left: 10px;
  }
  .button-contact {
    width: 100%;
  }
  .moments-title {
    font-size: 42px;
    padding-top: 30px;
  }
  .moments-desc {
    font-size: 18px;
  }
  .all-moments {
    padding-bottom: 80px;
  }
  .grid {
    display: block;
  }
  .grid h3 {
    text-align: center;
    margin-left: 30px;
  }
  .moments-picture {
    padding: 0 15px 0 15px;
    overflow: scroll;
  }
  .picture-desc {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .project-header {
    flex-direction: column;
    padding: 20px;
  }
  .project-picture {
    flex-direction: column;
    padding: 15px;
    gap: 10px 0;
  }
  .project-picture img {
    width: 100%;
    min-width: 340px;
  }
  .gallery-container {
    padding-top: 60px;
  }
  .gallery-heading {
    flex-direction: column;
    padding: 15px;
    gap: 15px 0;
  }
  .gallery-title {
    font-size: 52px;
    text-align: center;
  }
  .gallery-desc {
    text-align: center;
    font-size: 16px;
  }
  .gallery-picture {
    padding: 15px;
    grid-template-columns: none;
  }
  .gallery-picture img {
    width: 100%;
    min-width: 340px;
    /* margin-bottom: 15px; */
  }
  /* .cta {
    height: 400px;
  } */
  /* .cta-desc {
    padding-bottom: 35px;
  } */
  .cta-container {
    text-align: center;
    padding: 15px;
  }
  .cta-heading {
    font-size: 48px;
  }
  .cta-desc {
    font-size: 12px;
  }
  /* .button-cta {
    margin: 0;
  } */
  .footer-container {
    flex-direction: column;
    /* display: block; */
    padding: 0;
    text-align: center;
  }
  .footer-menu {
    margin-left: 0px;
    gap: 0 50px;
  }
  .footer-logo {
    padding: 30px;
  }
  .footer-phone {
    padding: 30px;
  }
  .footer-btn {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

@media (min-width: 630px) and (max-width: 768px) {
  header {
    padding: 30px;
  }
  #menu-slide {
    display: block;
    position: relative;
    cursor: pointer;
    /* margin-right: 20px; */
    /* z-index: 51px; */
  }
  .nav-link {
    margin: 0 auto;
    position: fixed;
    background-color: #ff7a01;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    box-shadow: rgba(149, 169, 165, 0.2) 0px 8px 24px;
    z-index: 50;
    align-items: stretch;
    font-weight: bold;
    display: none;
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu-item {
    display: flex;
    justify-content: flex-end;
    gap: 0 30px;
    top: 30px;
    padding: 50px;
  }
  .menu-item i {
    display: block;
  }
  .contact {
    display: none;
  }
  .hero {
    height: 550px;
    padding: 0 50px 0 50px;
  }
  .content-heading {
    font-size: 62px;
  }
  .content-desc {
    font-size: 16px;
  }
  .content-image {
    display: none;
  }
  .button-primary {
    display: flex;
    justify-content: center;
  }
  .info-container {
    padding: 30px 60px;
    gap: 0 30px;
    bottom: -50px;
  }
  .info-number {
    font-size: 18px;
  }
  .info-text {
    font-size: 8px;
  }
  .about-container {
    padding: 100px 15px 0 15px;
  }
  .about-info {
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    padding: 30px 0 30px 0;
  }
  .about-box-top {
    right: -50px;
    display: none;
  }
  .about-box-bot {
    display: none;
    left: -40px;
  }
  /* .about-content {
    width: auto;
    padding: 0 15px 0 15px;
    text-align: center;
    margin-left: 10px;
  } */
  .button-contact {
    width: 100%;
  }
  .moments-title {
    font-size: 58px;
    padding-top: 50px;
  }
  .moments-desc {
    font-size: 18px;
  }
  .all-moments {
    padding-bottom: 80px;
  }
  .grid {
    display: block;
  }
  .grid h3 {
    text-align: center;
    margin-left: 30px;
  }
  .moments-picture {
    padding: 0 15px 0 15px;
    overflow: scroll;
  }
  .picture-desc {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .project-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px 0;
  }
  .project-picture {
    flex-direction: column;
    padding: 15px;
    gap: 30px 0;
  }
  .project-picture img {
    width: 100%;
    /* min-width: 340px; */
  }
  .gallery-container {
    padding-top: 60px;
  }
  .gallery-heading {
    flex-direction: column;
    gap: 15px 0;
  }
  .gallery-title {
    font-size: 58px;
    text-align: center;
  }
  .gallery-desc {
    /* text-align: center; */
    font-size: 16px;
  }
  .gallery-picture {
    padding: 15px;
    grid-template-columns: none;
  }
  .gallery-picture img {
    width: 100%;
    min-width: 550px;
    /* margin-bottom: 15px; */
  }
  /* .cta {
    height: 400px;
  } */
  /* .cta-desc {
    padding-bottom: 35px;
  } */
  .cta-container {
    text-align: center;
    padding: 30px 15px 10px 15px;
  }
  .cta-heading {
    font-size: 52px;
  }
  .cta-desc {
    font-size: 16px;
  }
  /* .button-cta {
    margin: 0;
  } */
  .footer-container {
    flex-direction: column;
    /* display: block; */
    padding: 0;
    text-align: center;
  }
  .footer-menu {
    margin-left: 0px;
    gap: 0 50px;
  }
  .footer-logo {
    padding: 30px;
  }
  .footer-phone {
    padding: 30px;
  }
  .footer-btn {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .content-heading {
    font-size: 62px;
  }
  .content-left p {
    font-size: 12px;
  }
  .content-image img {
    height: 400px;
    width: 300px;
  }
  .info-container {
    gap: 0 30px;
  }
  .info-number {
    font-size: 32px;
  }
  .info-text {
    font-size: 14px;
  }
  .about-img img {
    height: 400px;
    width: 300px;
  }
  /* .grid img {
    width: 100%;
    height: 400px;
    width: 420px;
  } */
  .project-heading {
    font-size: 42px;
  }
  .project-desc {
    font-size: 12px;
  }
  .project-see-all {
    font-size: 12px;
  }
  .project-picture-prj {
    width: 150px;
    height: 200px;
  }
  .project-picture {
    gap: 0 100px;
    justify-content: space-around;
  }
  .gallery-title {
    font-size: 42px;
  }
  .gallery-desc {
    font-size: 12px;
  }
}
@media (min-width: 993px) and (max-width: 1280px) {
  .content-heading {
    font-size: 62px;
  }
  .content-left p {
    font-size: 16px;
  }
  .content-image {
    padding: 0;
  }
  .content-image img {
    height: 500px;
    width: 400px;
  }
  .about-info {
    gap: 0 100px;
  }
  .about-img img {
    height: 500px;
    width: 400px;
  }
  .about-box-top {
    top: -480px;
    left: -50px;
  }
  .about-box-bot {
    float: none;
    right: -350px;
    bottom: -540px;
  }
  .grid {
    grid-template-columns: repeat(1, 600px);
    /* margin-left: 200px; */
  }
  .project-heading {
    font-size: 54px;
  }
  .project-desc {
    font-size: 12px;
  }
  .project-see-all {
    font-size: 14px;
  }
  .project-picture {
      display: grid;
      grid-template-columns: repeat(2, 300px);
      gap: 30px 0;
  }
  .gallery-title {
    font-size: 48px;
    margin-left: 30px;
  }
  .gallery-desc {
    font-size: 12px;
  }
  .gallery-picture {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 30px 100px;
  }
  .footer-container {
    padding: 65px 100px 36px 100px;
  }
}
@media (min-width: 1281px) and (max-width: 1440px) {
  .content-heading {
    font-size: 72px;
  }
  .content-left p {
    font-size: 16px;
  }
  .content-image img {
    height: 500px;
    width: 400px;
  }
  .color-box-top {
    right: 50px;
  }
  .about-info {
    gap: 0 100px;
  }
  .about-img img {
    height: 500px;
    width: 400px;
  }
  .about-box-bot {
    float: none;
    right: -430px;
    bottom: -550px;
  }
  .grid {
    grid-template-columns: repeat(1, 600px);
    /* margin-left: 200px; */
  }
  .project-heading {
    font-size: 54px;
  }
  .project-desc {
    font-size: 12px;
  }
  .project-see-all {
    font-size: 14px;
  }
  .project-picture {
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }
  .gallery-title {
    font-size: 48px;
    margin-left: 30px;
  }
  .gallery-desc {
    font-size: 12px;
  }
  .gallery-picture {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 30px 100px;
  }
  .footer-logo {
    margin-left: 30px;
  }
}
